cython
click
click_pathlib
python-binance
#git+https://github.com/pprados/python-binance.git
jstyleson
python-dotenv
fastapi
uvicorn
sdnotify

setproctitle
pandas

pytest
pytest-asyncio
requests_mock




