cython
click
click_pathlib
-e python-binance
#git+https://github.com/pprados/python-binance.git
jstyleson
python-dotenv
fastapi
uvicorn
sdnotify
telethon

setproctitle
pandas

pytest
pytest-asyncio
requests_mock




